<html>
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Whitecoat.</title>

	    <!-- External Imports: Jquery-->
    <script src="static/js/jquery.js"></script>
	<link rel="shortcut icon" href="static/images/eklogo.ico" type="image/x-icon" />
    <link href="static/style.css" rel="stylesheet"/>
    <link href="static/fonts.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
	</head>

	<body>
    <div id="content">
		<center>
			<h1 class="intro_heading">Congrats Shubhu!</h1>
      <a href="#"><div id="tellher"><i class="fa fa-stethoscope"></i> Let her know.</div></a>
		</center>
  </div>
  <div id="dark" style="display:none"></div>
  <div id="light" style="display:none">
    <form id="#frmLogin" onsubmit="redo()" action="/" method="post">
      <p style="text-align: left; color: white; margin-left: 1.2em"> Shubhu's getting her white coat on Aug 15th! <br>Text her to show your support for her!<br> Don't forget to add your name before you press <b>send text</b></p>
      <input class="form form-name" style="text-align:center" placeholder="Enter your name" name="name" required></input><br>
      <textarea class="form form-text" style="text-align:center" placeholder="Enter a sweet message (:" name="text" required></textarea>
      <a href="#"><button class="form form-button" type="submit"><i class="fa fa-stethoscope"></i> Send Text</button></a>
    </form>
  </div>
	</body>


<html>

<script>
var count = 0;

function redo(){
  if ($('#name').val() !='undefined' && $('#text').val() != 'undefined') {
    $('#dark').fadeOut();
    $('#light').fadeOut();
    alert( "You successfully texted Shubhu.");
  }
  count++;
}

if (count > 2){
  alert("Please don't spam her!");
}

$('#tellher').click(function(){
$('#dark').fadeIn();
  $('#light').fadeIn();
})

$('#dark').click(function(){
    $('#dark').fadeOut();
    $('#light').fadeOut();
})

</script>
