<html>
	<head>
    <script src="static/js/substituteteacher.min.js"></script>
    <link href="static/style.css" rel="stylesheet"/>
    <link href="static/fonts.css" rel="stylesheet"/>
    <link href="static/icons.css" rel="stylesheet"/>
	</head>

	<body>
		<center>
      <div class="stethoscope"></div>
			<h1 class="intro_heading">We're So Proud!</h1>
      <h2 id="sub">You're Awesome, Shubhu!</h2>
		</center>
	</body>


<html>

<script>
var opts = {
  containerId: "sub",
  namespace: "sub",
  interval: 6000,
  speed: 200,
  verbose: true,
  random: false,
  best: true
};

var sub = new Sub([
    "On August 15, 2015 Shubhu gets her white coat",
    "A feat that Shubhu has been working on for two years!",
    "Shubhu is a part of a crazy 6 year medical program",
    "and Shubhu is gonna rock the world someday.",
    "so as her friends we want to wish her the best."
], opts).run();
</script>
